[submodule "service-authorization"]
	path = service-authorization
	url = git@github.com:reportportal/service-authorization.git
[submodule "service-api"]
	path = service-api
	url = git@github.com:reportportal/service-api.git
[submodule "service-ui"]
	path = service-ui
	url = git@github.com:reportportal/service-ui.git
[submodule "service-registry"]
	path = service-registry
	url = git@github.com:reportportal/service-registry.git
[submodule "service-gateway"]
	path = service-gateway
	url = git@github.com:reportportal/service-gateway.git
[submodule "service-jira"]
	path = service-jira
	url = git@github.com:reportportal/service-jira.git
[submodule "commons-dao"]
	path = commons-dao
	url = git@github.com:reportportal/commons-dao.git
[submodule "commons-model"]
	path = commons-model
	url = git@github.com:reportportal/commons-model.git
[submodule "commons"]
	path = commons
	url = git@github.com:reportportal/commons.git
[submodule "commons-bugtracking"]
	path = commons-bugtracking
	url = git@github.com:reportportal/commons-bugtracking.git
[submodule "commons-rules"]
	path = commons-rules
	url = git@github.com:reportportal/commons-rules.git
[submodule "client-Python"]
	path = client-Python
	url = git@github.com:reportportal/client-Python.git
[submodule "agent-Python-RobotFramework"]
	path = agent-Python-RobotFramework
	url = git@github.com:reportportal/agent-Python-RobotFramework.git
