## This is example of Docker Compose for ReportPortal
## Do not forget to configure data volumes for production usage

## Execute 'docker-compose -p reportportal up -d --force-recreate'
## to start all containers in daemon mode
## Where:
##      '-p reportportal' -- specifies container's prefix (project name)
##      '-d' -- enables daemon mode
##      '--force-recreate' -- forces re-recreating of all containers

version: '2'

services:
  redis:
    image: redis:3.2
    ## Uncomment if needed
    # ports:
    #   - "6379:6379"
    volumes:
      - ./data/redis:/data
    restart: always

  mongodb:
    image: mongo:3.4
#    ports:
#        - "27017:27017"
    volumes:
      - ./data/mongo:/data/db
    restart: always

  registry:
    image: consul:0.9.0
    volumes:
      - ./data/consul:/consul/data
#    ports:
#        - "8500:8500"
#        - "8300:8300"
#        - "53:8600/udp"
    command: "agent -server -bootstrap-expect=1 -ui -client 0.0.0.0  -raft-protocol=3"
    environment:
        - 'CONSUL_LOCAL_CONFIG={"leave_on_terminate": true}'
    restart: always


  uat:
    image: reportportal/service-authorization:3.2.1
    #ports:
    #  - "9999:9999"
    depends_on:
      - redis
      - mongodb
    environment:
      - RP_PROFILES=docker
      - RP_SESSION_LIVE=86400 #in seconds
#     - RP_MONGO_HOST=XXX
#     - RP_MONGO_PORT=27017
#     - RP_MONGO_DB_NAME=reportportal
#     - RP_MONGO_USER=XXX
#     - RP_MONGO_PASSWORD=XXX    
    restart: always

  gateway:
    image: fabiolb/fabio:1.5.2-go1.8.3
    ports:
      - "9998:9998" # GUI/management
      - "8080:9999" # HTTP exposed
    environment:
      - FABIO_REGISTRY_CONSUL_ADDR=registry:8500
      - FABIO_REGISTRY_CONSUL_REGISTER_NAME=gateway
      - FABIO_PROXY_ADDR=:9999;rt=300s;wt=300s
    restart: always

  index:
    image: reportportal/service-index:3.1.1
    environment:
      - RP_SERVER.PORT=8080
      - RP_CONSUL.TAGS=urlprefix-/
      - RP_CONSUL.ADDRESS=registry:8500
    depends_on:
       - registry
       - gateway
    restart: always

  api:
    image: reportportal/service-api:3.2.1
    depends_on:
      - redis
      - mongodb
    environment:
      - RP_PROFILES=docker
      - RP_ISSUE_ANALYZER_DEPTH=4
      - JAVA_OPTS=-Xmx1g -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/tmp
    # - RP_MONGO_HOST=XXX
    # - RP_MONGO_PORT=27017
    # - RP_MONGO_DB_NAME=reportportal
    # - RP_MONGO_USER=XXX
    # - RP_MONGO_PASSWORD=XXX
    restart: always

  ui:
    image: reportportal/service-ui:3.2.4
    environment:
      - RP_SERVER.PORT=8080
      - RP_CONSUL.TAGS=urlprefix-/ui opts strip=/ui
      - RP_CONSUL.ADDRESS=registry:8500
    restart: always

#  jira:
#    image: reportportal/service-jira:3.2.0
#    environment:
#      - RP_PROFILES=docker
#      - RP_MONGO_HOST=XXX
#      - RP_MONGO_PORT=27017
#      - RP_MONGO_DB_NAME=reportportal
#      - RP_MONGO_USER=XXX
#      - RP_MONGO_PASSWORD=XXX
#    restart: always
#
#  rally:
#    image: reportportal/service-rally:3.2.0
#    environment:
#      - RP_PROFILES=docker
#      - RP_MONGO_HOST=XXX
#      - RP_MONGO_PORT=27017
#      - RP_MONGO_DB_NAME=reportportal
#      - RP_MONGO_USER=XXX
#      - RP_MONGO_PASSWORD=XXX
#    restart: always
